@model IEnumerable<_5112_Cumulative_1_2_3.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<div id="containlist">
    <h2>List</h2>
    <form >
        <div action="/Teacher/List" method="GET">
            <input type="text" name="Searchkey" />

            <div action="/Teacher/Teachersfname" method="GET">
                <input class="form-check-input" type="checkbox" name="Searchfname" />
                <lable class="form-check-label">Search by First Name</lable>
            </div>

            <div  action="/Teacher/Teacherslname" method="GET">
                <input class="form-check-input" type="checkbox" name="Searchlname" />
                <label class="form-check-label">Search by Last Name</label>
            </div>

            <div action="/Teacher/TeachersHiredate" method="GET">
                <input class="form-check-input" type="checkbox" name="Searchdate" />
                <label class="form-check-label">Search by Hire Date</label>
            </div>

            <div  action="/Teacher/TeachersSalary" method="GET">
                <input class="form-check-input" type="checkbox" name="Searchsalary" />
                <label class="form-check-label">Search by Salary</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    @foreach (var Teacher in Model)
            {
                <div>@Teacher.Teacherfname</div>
                <div>@Teacher.Teacherlname</div>
                <div>@Teacher.Hiredate</div>
                <div>@Teacher.Salary</div>
            }

</div>