
@{
    ViewBag.Title = "New";
}

<div id="containnew"
<h2>New</h2>
    <form>
        <input type="text" name="teacherid"/> 
        <input type="text" name="teacherfname" />
        <input type="text" name="teacherlname" />
        <input type="datetime" name="hiredate" />
        <input type="" name="salary" />
    </form>

